@tailwind base;
@tailwind components;
@tailwind utilities;

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: grid;
  justify-content: center;
  align-content: center;
}

.flip { 
  transform: rotateY(180deg);
}

.delay-350 {
  	transition-delay: 200ms;
}

.center-absolute-flip {
  transform-origin: center;
  transform: translate(-50%, -50%) rotateY(180deg);
}

.left-flipped {
  transform: translate(calc(-50% + -100vw), -50%) rotateY(180deg);
}

.left {
  transform: translate(calc(-50% + -100vw), -50%);
}

.right-flipped {
  transform: translate(calc(-50% + 100vw), -50%) rotateY(180deg);
}

.right {
  transform: translate(calc(-50% + 100vw), -50%);
}

.next-button {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
    overflow: hidden !important;
    z-index: -10;
}

.grid-item:nth-child(1) {
    border-bottom-width: 1px;
    border-right-width: 1px;
}

.grid-item:nth-child(2) {
    border-bottom-width: 1px;
}

.grid-item:nth-child(3) {
    border-right-width: 1px;
}

.grid-item:nth-child(5) {
    border-right-width: 1px;
    border-top-width: 1px;
}

.grid-item:nth-child(6) {
    border-top-width: 1px;
}

.outline:focus {
  outline: 2px solid gray;
  outline-offset: -1px;
}