.center {
  display: grid;
  justify-content: center;
  align-content: center;
}

.flip { 
  transform: rotateY(180deg);
}

.delay-350 {
  	transition-delay: 200ms;
}

.center-absolute-flip {
  transform-origin: center;
  transform: translate(-50%, -50%) rotateY(180deg);
}

.left-flipped {
  transform: translate(calc(-50% + -100vw), -50%) rotateY(180deg);
}

.left {
  transform: translate(calc(-50% + -100vw), -50%);
}

.right-flipped {
  transform: translate(calc(-50% + 100vw), -50%) rotateY(180deg);
}

.right {
  transform: translate(calc(-50% + 100vw), -50%);
}

.next-button {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
    overflow: hidden !important;
}